body, footer {

  font-family: Open-Sans, sans-serif;
  color:#A06E4D;
}

.header-image {
  background-image: url("/images/Bears_Logo.jpg");
  background-size: cover;
  height: 400px;
}

.navbar {
  background-color: #90D2F3;
  border-color: #90D2F3;
  border-radius: 0px;
}

.navbar-inverse .navbar-brand {
  color: #A06E4D;
}

.navbar a.dropdown-toggle {
  color: #A06E4D;
}